.icons {
  position: fixed;
  top: 50%;
  left: 1%;
  transform: rotate(360deg);
  background-color: whitesmoke;
  box-shadow: 1px 1px 8px 1px grey;
  padding: 1rem;
}

.icons >  {
  margin-bottom: 3rem;
}
