.sidebar{
    background-color: #0b0c10;
    height: 100vh;
   min-width: 300px;
   padding: 1em;
    overflow: hidden;
    display: block;
    text-align: justify;
}

ul li {
    list-style-type: none;
    line-height: 3.3rem;
    display: block;
    width: initial;
    color: whitesmoke;
    
}
ul {
    padding: 1em;
}

.logo{
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 50%;
}

.fixed-bottom{
    position: absolute;
    bottom: 10px;
    left: 10px;
    
}

@media only screen and (max-width: 660px){
    .sidebar{
        display: none;
    }
}