html,
body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  height: 100vh;
  flex-flow: row wrap;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .side {
    display: none;
  }
  .main {
    flex-basis: 100%;
  }
}
