html, body{
    padding: 0;
    margin: 0;
}

.App{
    display: flex;
    height: 100vh;
    flex-flow: row wrap;

}

.App > div {
    width: 100px;
    height: 100vh;
    
}

.main{
    flex-basis: 80%;
    height: 100vh;
}

.side{
    flex-basis: 20%;
    height: 100vh;
}

@media only screen and (max-width:600px){
    .side{
        display: none
    }
    .main{
        flex-basis: 100%;
    }
}